@import url('variables.css');
@import url('about_us.css');
@import url('header.css');
@import url('normalize.css');
@import url('menu.css');
@import url('divider_disign.css');
@import url('chef_section.css');
@import url('contact.css');
@import url('footer.css');

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  overflow-x: hidden;
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* globales */

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

h1, h2 {
  font-family: var(--titles);
  font-size: 30px;
}

h3, p, a{
  font-family: var(--text);
  font-size: 20px;
}

img{
  max-width: 100%;
}

.green{
  color: var(--green);
}

.red{
  color: var(--red);
}

.white{
  color: var(--white);
}

.btn-green{
  background-color: var(--green);
  border: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-family: var(--text)
}

.btn-green:hover{
  background-color: var(--red);
  cursor: pointer;
}